# Dart specific
*.dart_tool/
*.packages
.packages
pubspec.lock



# Flutter specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-version
.flutter
.flutter-keys
metadata
.macos/

# VS Code
.vscode/
*.code-workspace

# IntelliJ
.idea/
*.iml

# Logs and crash reports
*.log
crashlytics/
firebase/
*.crash
*.diff
*.orig

# macOS Finder
.DS_Store

# Files for local testing and configuration
.env
.env.*
*.local
*.lock

# Flutter generated localization files
.l10n/
intl_translation/
generated/
